.login-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 24, 24);
    width: 40vw;
    gap: 1em;
    align-items: center;
  }
  
  .login-input {
    width: 90%;
  }
  
  .login-actions {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;
    width: 90%;
  }
  
  .login-header {
    text-align: left;
    width: 90%;
    padding: 1em 0 0 2em;
  }